span.name {
    display: block;
    margin: 10px 10px 10px 120px;
    font-size: 13px;
    border: 1px solid #b58900;
    background-color: #fdf6e3;
    color: #111;
    border-radius: 7px 7px;
    cursor: default;
    text-align: center;
}
span.correct {
    background-color: #4fdb44;
}
span.incorrect {
    background-color: #f15743;
}
span.right_answer {
    border: 1px solid #4fdb44;
    /*background-color: #4fdb44;*/
}
span.selected {
    background-color: white;
    cursor: pointer;
}

span.again {
    background-color: #6c71c4;
    color: #eee8d5;
    border-radius: 7px 7px;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
}

div.person {
    border: 1px solid #b58900;
    width: 265px;
    margin-top: 10px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px 15px;
    background-color: #fdf6e3;
    float: left;
}

div.photo {
    float: left;
    margin-right: 10px;
    padding-top: 5px;
}

div.inner {
    margin: auto;
    width: 600px;
    background-color: #fdf6e3;
    overflow: auto;
}

div.outer {
    margin: auto;
    width: 800px;
    background-color: #fdf6e3;
    /*padding-top: 10px;*/
    padding-bottom: 20px;
    margin-top: 30px;
    border-radius: 15px 15px 0px 0px;
}

div.results {
    padding: 20px 0px 20px 0px;
    font-size: 20px;
    width: 400px;
    margin: auto;
    overflow: hidden;
    clear: both;
}

span.results {
    display: block;
    padding-bottom: 10px;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    color: #111;
    /*background-color: #232323*/
    /*background-color: #ecd9a6;*/
    background-color: #35363a;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url("/pics/bg3.jpg");
    background-repeat: repeat-x;
}

div.header {
    display: block;
    margin: auto;
    width: 300px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.example {
    base03:    #002b36;
    base02:    #073642;
    base01:    #586e75;
    base00:    #657b83;
    base0:     #839496;
    base1:     #93a1a1;
    base2:     #eee8d5;
    base3:     #fdf6e3;
    yellow:    #b58900;
    orange:    #cb4b16;
    red:       #dc322f;
    magenta:   #d33682;
    violet:    #6c71c4;
    blue:      #268bd2;
    cyan:      #2aa198;
    green:     #859900;
}
